@font-face {
   font-family: BeausiteClassic;
   font-weight: 400;
   src:
      url("../../fonts/BeausiteClassicWeb-Regular.woff2") format("woff2"),
      url("../../fonts/BeausiteClassicWeb-Regular.woff") format("woff");
   font-display: auto;
}

@font-face {
   font-family: BeausiteClassic;
   font-weight: 300;
   src:
      url("../../fonts/BeausiteClassicWeb-Light.woff2") format("woff2"),
      url("../../fonts/BeausiteClassicWeb-Light.woff") format("woff");
   font-display: auto;
}

@font-face {
   font-family: BeausiteClassic;
   font-weight: 700;
   src:
      url("../../fonts/BeausiteClassicWeb-Medium.woff2") format("woff2"),
      url("../../fonts/BeausiteClassicWeb-Medium.woff") format("woff");
   font-display: auto;
}
