@mixin focus-outline {
   outline: solid 2px var(--focus) !important;
   outline-offset: 2px;
   box-shadow: 0 0 0 2px var(--focus-inverse);
}

@mixin visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   overflow: hidden;
   white-space: nowrap;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
}

@mixin visually-hidden-override {
   position: static;
   width: auto;
   height: auto;
   overflow: auto;
   white-space: unset;
   clip: unset;
   clip-path: unset;
}
